http://test_web.com/page1/a.txt
http://test_web.com/page2/b.txt
http://test_web.com/page3/c.jpg
http://test_web.com/page4/d.jpg
http://test_web.com/page5/e.jpg
http://test_web.net/users/user1.jpg
http://test_web.net/users/user2.jpg
http://test_web.net/users/user3.jpg
http://test_web.net/users/user4.jpg
http://test_web.net/users/user5.jpg
http://test_web.net/contents/content1.jpg
http://test_web.net/contents/content2.jpg
http://test_web.net/contents/content3.jpg
http://test_web.net/contents/content4.jpg
http://test_web.net/contents/content5.jpg
