TTTT1TTTT 10.66.128.217 ,f5_irule=Splunk-iRule-LB_FAILED,src_ip=10.66.128.62,vip=10.66.131.189,http_method=GET,http_host=bigip.splunk.com:80,http_uri=/index.html,http_url=bigip.splunk.com:80/index.html,http_method=GET,http_version=1.1,http_user_agent="Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 6.1; WOW64; Trident/4.0; SLCC2; .NET CLR 2.0.50727; .NET CLR 3.5.30729; .NET CLR 3.0.30729; Media Center PC 6.0)",http_content_type=,http_referrer="",req_start_time=TTTT2TTTT,cookie="",user=,virtual_server="/Common/Pool-01 0",bytes_in=0