TTTT1TTTT 10.66.128.217 ,f5_irule=Splunk-iRule-HTTP,src_ip=10.66.128.62,vip=10.66.131.188,http_method=GET,http_host=bigip.splunk.com:80,http_uri=/test.html,http_url=bigip.splunk.com:80/test.html,http_method=GET,http_version=1.1,http_user_agent="Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.114 Safari/537.36",http_content_type=,http_referrer="",req_start_time=TTTT2TTTT,cookie="",user=,virtual_server="/Common/Pool-02 0",bytes_in=0,res_start_time=TTTT2TTTT,node=192.168.1.13,node_port=80,http_status=404,req_elapsed_time=RRRRRRRR,bytes_out=BBBBBBBB